.comment {
  border-radius: 10px;
  background-color: #77BBFF;
  padding: 7px;
  margin-bottom: 4px;
  width: 90%;
}

.submission {
  border-radius: 10px;
  background-color: #FFFF77;
  padding: 7px;
  margin-bottom: 4px;
  width: 100%;
}

.entry {
  border: 3px solid white;
  border-radius: 10px;
  width: 750px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #343434;
}

.main_body {
  background: #343434;
}

.field_set {
  border: none;
  padding: 0;
}

.work_image {
  width: 100%;
  height: auto;
}
