@(bundle: models.submission.TypeBundle)

@main("%s - Edit".format(bundle.name)) {
  <form method="post" action="">
    @generateTextArea(bundle.presentationJS, "presentation_js")
    @generateTextArea(bundle.actionJS, "action_js")
    <input name='file_extension' id='file_extension' type="text" placeholder='File extension' value='@bundle.fileExtension'>
    <input type="submit" value="Update"/>
  </form>
}

@generateTextArea(js: String, name: String) = {
  @defining("<textarea name='%s' id='%s' placeholder='Input your desired JavaScript routine here'>%s</textarea>".format(name, name, js)) { elem =>
    @Html(elem)
  }
}
