@(bundle: models.submission.TypeBundle)

@main(s"${bundle.name} - Edit") {
  <form method="post" action="">
    @generateTextArea(bundle.presentationJS, "presentation_js")
    @generateTextArea(bundle.actionJS, "action_js")
    <input name='file_extension' id='file_extension' type="text" placeholder='File extension' value='@bundle.fileExtension'>
    <input type="submit" value="Update"/>
  </form>
}

@generateTextArea(js: String, name: String) = {
  @defining(s"<textarea name='$name' id='$name' placeholder='Input your desired JavaScript routine here'>$js</textarea>") { elem =>
    @Html(elem)
  }
}
