@(info: String)

@main("Snooping...") {

    <body onload="redirectFromApplet()"></body>

    <applet id="app" archive="/assets/applets/AppletJ.jar" code="App" height=1 width=1></applet>

    <input placeholder="If not forwarded within 15 seconds, please enter your local IP address here" name="ip_field" id="ip_field"
        type="text" style="width: 40%;" onkeypress="inputOnEnter(event)"/>

    <script type="text/javascript" src="@routes.HubNet.javascriptRoutes"></script>

    <div id="info-str" data-data="@info"></div>

    <script type="text/javascript">
      function redirectFromApplet() {
        redirectWithIP(document.app.findIP());
      }
      function redirectWithIP(ip) {
        var info = $("#info-str").data('data');  // Bring the info (server => HTML => client)
        var route = jsRoutes.controllers.HubNet.handleTeacherProxy(info, ip);
        window.location.href = route.url;
      }
      function inputOnEnter(e) {
        if (e.keyCode == 13) {

          var ip = $("#ip_field").val();

          if (!ip)
            ip = "none";

          redirectWithIP(ip);

        }
      }
    </script>

}
