@(myForm: Form[models.hubnet.TeacherInfo])

@import helper._
@import models.util.ModelMapper
@import models.hubnet.TeacherInfo

@main("HubNet Teacher Page") {

    <div style="background: #343434; border: 4px solid orange; padding: 6px; border-radius: 10px;">
      <span style="font-weight: bold; text-decoration: blink; color: red;">Teacher Directions: </span><span style="color: white">Close all other HubNet sessions that are already open on your computer. Select a Model Name from the menu below and then press the "Start the model" button to run a HubNet Model for your students to join.</span>
    </div>

    @form(action = routes.HubNet.bindTeacher) {

      @select(myForm("Model Name"), options = options(ModelMapper.modelNames.toList))
      @inputText(myForm("User Name"))
      @inputText(myForm("Teacher Name"))
      @inputText(myForm("Port Number"))
      @select(myForm("Is Headless"), options = options(TeacherInfo.YesNoChoices.toList))
      @select(myForm("Is Logging"), options = options(TeacherInfo.YesNoChoices.toList))

      <input type="submit" value="Start the model">

    }

}
