@(myForm: Form[models.hubnet.TeacherInfo])

@import helper._
@import models.util.ModelMapper
@import models.hubnet.TeacherInfo

@main("HubNet Teacher JNLP Test Page!") {

    @form(action = routes.HubNet.bindTeacher) {

      @select(myForm("Model Name"), options = options(ModelMapper.modelNames.toList))
      @inputText(myForm("User Name"))
      @inputText(myForm("Teacher Name"))
      @inputText(myForm("Port Number"))
      @select(myForm("Is Headless"), options = options(TeacherInfo.YesNoChoices.toList))
      @select(myForm("Is Logging"), options = options(TeacherInfo.YesNoChoices.toList))

      <input type="submit" value="Test It">

    }

}
