@(myForm: Form[(String, String, String, String, String, String, String)])

@import helper._

@main("HubNet JNLP Test Page!") {

    <body onload="getIP()">
    @form(action = routes.HubNet.yourData) {

      @inputText(myForm("Model Name"))
      @inputText(myForm("User Name"))
         @select(myForm("Is Logging"), options = options(List("Yes", "No", "N/A")))
      @inputText(myForm("Teacher Name"))
         @select(myForm("Is Logging"), options = options(List("Yes", "No", "N/A")))
      @inputText(myForm("Port Number"))
         @select(myForm("Is Logging"), options = options(List("Yes", "No", "N/A")))

      <input type="submit" value="Test It">

    }

    <button onclick="handleTestIt()">Test It</button>

    <script type="text/javascript">

    function handleTestIt() {
        post_to_url('/hubnet', {'hubnet_data' : 'cKwIXSnIJc91L/5vEYTEJK3smVUZ1NC1wKZg0hZJ3t1/BVgOtP5htUXHVYYLsyV5'});
    }

    // Credit for this goes out to Rakesh Pai a la StackOverflow
    function post_to_url(path, params, method) {
        method = method || "post"; // Set method to post by default, if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
    </script>
    </body>

}
